<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="./styles/faq.css" >
    <title>Chat | FAQ</title>
</head>

<body>
    <section id="content-container">
        <div class="text">
            Hello! Here you can find some faq, tips and rules.<br><br>
            FAQ<br>
            Q:How do i sign up?<br>
            A:Fill login form, if there wasn`t such user, you`ve signed up and logged.<br><br>
            Q:How do i login?<br>
            A:Fill login form, if there was such user, you`ve logged.<br><br>
            Rules<br>
            1. No NSFW content<br>
            2. Username and password have to be >4 and <15 characters length,<br>
            consisting of capital or/and small latin letters or/and digits.<br>
            3. You cannot send empty messages.<br>
            4. You can send messages every 1.5 seconds.<br>
            4. Message length has to be less than 1500 characters<br><br>
            Tips<br>
            &#8226; You can write without registration, from Anonymous account<br>
            &#8226; System shows when someone logged or left<br>
            &#8226; You can tag someone like this @nick, you also can tag @everyone<br>
            &#8226; You can send images(url only ) like this - image(https://i.imgur.com/dZDrvfA.png)<br>
            &#8226; You can send youtube like this - youtube(https://www.youtube.com/watch?v=dQw4w9WgXcQ)<br>
            &#8226; You can send url like this - url(https://www.youtube.com/watch?v=dQw4w9WgXcQ)<br>
            &#8226; You can hide side bar by clicking on hide button<br><br>
        </div>
        <footer>
            <div class="info">
                Kyiv-Mohyla Academy<br/>
                Made for Modern Internet Technology course<br/>
                Shcherbyna Serhii, SE-2, Faculty of Informatics<br/>
                2019
            </div>
            <div class="contacts">
                E-mail: serhii.shcherbyna@ukma.edu.ua<br/>
                Telegram: @EinErste<br/>
            </div>
        </footer>
    </section>
</body>
</html>