<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="./styles/index.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Chat</title>
</head>

<body>
    <section id="content-container">
        <header>
            <div class="title">Chat</div>
            <div id="login-form">
                <label for="log">Username: </label><input class="username" type="text" name="log">
                <label for="pass">Password: </label><input class="password" type="password" name="pass">
                <button class="login" type="button">Login</button>
            </div>
            <div id="title-info">
                <div class="online-users">Users online: 1</div>
                <div id="user">Anonymous</div>
            </div>
        </header>
        <section id="chatroom-container">
            <div id="chatroom">
            </div>
            <div id="input-zone">
                <textarea class="message-input" type="text"></textarea>
                <button class="message-send" type="button">Send</button>
            </div>
        </section>
    </section>

    <script src="./js/jquery-latest.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>